@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ------------------------- */
  /* Primary interface colors */
  --color-primary: rgba(0, 0, 0, 1);
  --color-primary-light: rgba(0, 0, 0, 0.3);
  --color-primary-lighter: rgba(0, 0, 0, 0.5);
  --color-secondary: rgba(1, 14, 39, 1);
  --color-secondary-light: rgba(1, 14, 39, 0.7);
  --color-secondary-lighter: rgba(1, 14, 39, 0.3);
  --color-accent: rgba(241, 237, 253, 1);
  --color-background: rgba(255, 255, 255, 1);
  --color-surface: rgba(245, 246, 246, 1);
  --color-purple-main: rgba(115, 95, 250, 1);
  --color-orange-main: rgba(255, 108, 62, 1);
  /* ------------------------- */
  /* States */
  --color-error: rgba(255, 0, 0, 1);
  /* ------------------------- */
}

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden relative;
  }

  body {
    @apply bg-background antialiased text-primary font-sans font-normal text-base leading-normal;
  }
}